# Use specific versions of high-risk apps;
# latest and greatest of utilities

# ENVIRONMENT PACKAGES
Fabric==1.8.0
Django==1.6.1

# Dependencies
ssh==1.7.13

# GENERAL PURPOSE PROJECT PACKAGES
#MySQL-python==1.2.3
South==0.7.3
django-extensions==0.8
django-debug-toolbar==0.9.4


# PROJECT-SPECIFIC REQUIREMENTS